<!DOCTYPE html>
<html>
<head>
  <title>HuskyNOM</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>

<script type="text/javascript" src="http://widget.cloudinary.com/global/all.js"></script>

<script type="text/javascript">
  window.API_KEYS = {
    GMAP_KEY: "<%= ENV['GMAP_KEY'] %>"
  };
  window.CLOUDINARY_OPTIONS = {
    cloud_name: "<%= ENV['CLOUD_NAME'] %>",
    upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
    theme: 'minimal'
  };
</script>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAP_KEY']}"%>
<%= javascript_include_tag 'application' %>
</body>
</html>
