<!DOCTYPE html>
<html>
<head>
  <title>HuskyNOM</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'HuskyNOM.ico' %>
</head>
<body>


<!-- <% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %> -->

<%= yield %>

<script type="text/javascript" src="http://widget.cloudinary.com/global/all.js"></script>

<script type="text/javascript">
  window.API_KEYS = {
    GMAP_KEY: "<%= ENV['GMAP_KEY'] %>"
  };
  window.CLOUDINARY_OPTIONS = {
    cloud_name: "<%= ENV['CLOUD_NAME'] %>",
    upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
    theme: 'minimal',
    sources: ['local'],
  };

  window.CURRENT_USER = {
    <% if current_user %>
      id: <%= current_user.id %>,
      username: "<%= current_user.username %>"
    <% end %>
  }

  window.YELP_CLIENT = {
    consumer_key: "<%= ENV['YELP_CONSUMER_KEY'] %>",
    consumer_secret: "<%= ENV['YELP_CONSUMER_SECRET'] %>",
    token: "<%= ENV['YELP_TOKEN'] %>",
    token_secret: "<%= ENV['YELP_TOKEN_SECRET'] %>"
  }

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', "<%= ENV['GOOGLE_ANALYTICS'] %>", 'auto');
  ga('send', 'pageview');

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GMAP_KEY']}"%>
<%= javascript_include_tag 'application' %>
</body>
</html>
